.profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	width: 100%;
}

.pfp {
	height: 128px;
	border-radius: 50%;
	margin-right: 16px;
	border: 2px solid var(--Surface0);
}

.info {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;

	padding: 8px;
	gap: 8px;
}

.name {
	margin: 0;

	background-color: var(--Base);
	border: 2px solid var(--Surface0);
	padding: 8px;
	border-radius: 8px;

	color: var(--Subtext1);
}

.identity {
	flex-direction: row;
	gap: 8px;
}

.pronouns {
	background-color: var(--Base);

	border: 2px solid var(--Surface0);
	padding: 8px;
	border-radius: 8px;
	margin: 0;

	color: var(--Subtext0);

	transition: background-color 0.15s ease-in-out;
}

.pronouns > * {
	margin: 0;
}

.flags {
	background-color: var(--Base);
	border: 2px solid var(--Surface0);

	height: 16px;
	width: 32px;

	padding: 8px;
	border-radius: 8px;
}

.flag {
	position: absolute;

	height: 16px;
	width: 32px;
	margin: 0;

	color: var(--Subtext0);
}

.bio {
	width: 100%;
}

.bio-text {
	text-align: left;
	font-weight: 300;
}

.external {
	justify-content: space-evenly;
	width: 60%;
	gap: 8px;
}

.social {
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 0;

	background-color: var(--Base);
	border: 2px solid var(--Surface0);
	padding: 8px;
	gap: 8px;
	border-radius: 8px;

	color: var(--Subtext1);

	transition: background-color 0.15s ease-in-out;

	cursor: pointer;
}

.social-img {
	display: flex;
	align-items: center;
	justify-content: center;

	width: clamp(24px, 5vw, 40px);
	height: clamp(24px, 5vw, 40px);

	border: 2px solid var(--Surface0);
	border-radius: 8px;
	transition: background-color 0.15s ease-in-out;

	cursor: pointer;
}

img.social-img {
	background-color: black;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;

	display: none;
	align-items: center;
	justify-content: center;
	opacity: 0;

	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	transition: opacity 0.15s ease-in-out;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;

	background-color: var(--Base);
	border: 2px solid var(--Surface0);
	padding: 8px;
	gap: 8px;
	border-radius: 8px;

	color: var(--Subtext1);
}

.modal-img {
	width: clamp(144px, 15vw, 240px);
	height: clamp(144px, 15vw, 240px);

	background-color: black;

	border: 2px solid var(--Surface0);
	border-radius: 8px;
}

.connections {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.connection {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 88px;
	height: 31px;

	transition: transform 0.15s ease-in-out;
}

.connection:hover {
	transform: scale(1.05);
}

.social:hover,
.social-img:hover,
.pronouns:hover {
	background-color: var(--Surface1);
	text-decoration: none;
}

.social:active,
.social:focus {
	outline: none;
}
