.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: auto;

	background-color: var(--Mantle);

	width: clamp(280px, 50vw, 720px);
	height: auto;

	margin: 8px auto;
	border: 2px solid var(--Base);
	padding: 16px;
	gap: 16px;
	padding-inline: 32px;
	border-radius: 8px;

	transition: background-color 0.15s ease-in-out;
}

.project-top {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.project-head {
	flex-direction: row;
	align-items: center;
	justify-content: left;
	width: 100%;
	gap: 8px;
}

.project-bottom {
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 100%;
	gap: 8px;
	color: var(--Text);
}

.project-title {
	margin: 0;
}

.project-description,
.project-date,
.project-language,
.project-stars {
	display: flex;
	align-items: center;
	gap: 8px;
	margin: 0;
	font-weight: 300;
}

.project-org {
	color: var(--Subtext0);
}

.project-info {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.project:hover {
	text-decoration: none;
	background-color: var(--Base);
}
